// Animation
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-30px);
  }
  60% {
    transform: translateX(-15px);
  }
}

.btn-main {
  min-width: 100px;
  border-radius: 2em;
  margin-top: 2em;
}

.back-action {
  //overflow: hidden;
  //padding-left: 20px;
  a {
   &:hover {
     @extend .bounce
   }
    line-height: 40px;
    min-height: 40px;
    min-width: 40px;
    color: $black;

    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}