.card {
  .card-image {
    border-radius: 2px 2px 0 0;
    min-height: 151px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
}

.card-content {
  i {
    &.is-active {
      color: color("light-green", "base");
    }
    &.is-done {
      color: grey;
    }
  }

  a {
    color: $primary-color;
  }
}

.card-task {
  padding: 1em;
  border-radius: 3em;

  .input-title input {
    font-size: 3em;
  }

  input, textarea, .chips {
    @extend .without-underline;
  }

  textarea {
    min-height: 100px;
  }
}