.app-nav {
  padding: 0 4em;
  background-color: $secondary-color;
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    //padding-left: 0;
  }
}

.sidenav-main {
  .title {
    position: relative;
    min-height: 100px;
    background-color: $secondary-color;
    margin-bottom: 2em;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      color: inherit;
      font-size: 2em;

      &:hover {
        background: none;
      }
    }
  }
  li a {
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}