@import "~materialize-css/dist/css/materialize.min.css";

@import "variables";

@import "reset";

@import "components/datepicker";
@import "components/navbar";
@import "components/inputs";
@import "components/card";

@import "theme";


.app-body {
  background-color: $white;
  height: 100vh;
}

hr {
  background: $black;
  border-bottom-color: $black;
  border-style: solid;
}

.character-counter {
  float: right;
  font-size: 12px;
}