.app-body {
  background-color: $white;
  height: 100vh;

  @extend .transition-theme;

  .row {
    overflow-y: hidden;
    overflow-x: auto;
  }
}

.app-body,
.mыodal,
.sidenav,
.card,
.card .card-reveal {
  @extend .transition-theme;
}

.character-counter {
  float: right;
  font-size: 12px;
}

form {
  padding-bottom: 1em;
  & .btn {
    box-shadow: $secondary-shadow;

    &:hover {
      box-shadow: $secondary-shadow;
    }
  }
}

.top-action {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 10px;
  min-height: 44px;

  a {
    &:hover {
      //@extend .bounce
    }
    line-height: 40px;
    min-height: 40px;
    min-width: 40px;
    color: $black;

    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &-left {
    * {
      margin: 0;
      line-height: normal;
    }
  }

  &-right {
    align-items: center;
    height: max-content;
    display: flex;
  }
}