[dark-theme] {
  //&.app-body {
  //  &:before {
  //    content: '';
  //    position: absolute;
  //    width: 100vw;
  //    height: 100vh;
  //    background-color: $black;
  //    left: 0;
  //    top: 0;
  //    //z-index: 0;
  //  }
  //}

  &.app-body,
  .mыodal,
  .sidenav,
  .card,
  .card .card-reveal {
    background-color: $black;
  }

  hr {
    background-color: $white;
    border-bottom-color: $white;
  }

  .card {
    .card-title {
      color: white!important;
    }
  }

  table {
    color: $black;
  }

  textarea,
  &.app-body,
  .chips .input,
  .back-action a,
  .sidenav-main li:not(.title) a,
  input[type=text]:not(.browser-default) {
    color: $white;
  }

  .datepicker-controls {
    input[type=text]:not(.browser-default) {
      color: $black;
    }
  }
}